<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.jhc.web.user.mapper.order.OrderMapper">

	<insert id="insertOrder" parameterType="com.ezen.jhc.web.user.dto.order.OrderDTO">
		<selectKey keyProperty="ord_num" order="BEFORE" resultType="int">
			SELECT ord_num_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO orders VALUES (
			#{ord_num},
			#{mem_num},
			sysdate,
			#{ord_zipcode},
			#{ord_addr1},
			#{ord_addr2},
			#{receiver_name},
			#{receiver_phone},
			#{total_amount},
			0,
			#{ord_request},
			#{payment_num}
		)
	</insert>

	<update id="saveAddr" parameterType="com.ezen.jhc.web.user.dto.member.MemberAddressDTO">
		UPDATE member_addresses
		SET mem_zipcode = #{mem_zipcode},
			mem_addr1 = #{mem_addr1},
			mem_addr2 = #{mem_addr2},
			addr_save = 1
		WHERE mem_num = #{mem_num}
	</update>
	
	<update id="notSaveAddr" parameterType="int">
		UPDATE member_addresses SET addr_save = 0 WHERE mem_num = #{mem_num}
	</update>
	
	<insert id="insertAddr" parameterType="com.ezen.jhc.web.user.dto.member.MemberAddressDTO">
		INSERT INTO member_addresses VALUES (#{mem_num}, #{mem_zipcode}, #{mem_addr1}, #{mem_addr2}, #{addr_save})
	</insert>
	
	<insert id="insertOrderDetails" parameterType="com.ezen.jhc.web.user.dto.cart.CartDTO">
		<selectKey keyProperty="od_num" order="BEFORE" resultType="int">
			SELECT od_num_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO order_details VALUES (
			#{od_num},
			#{ord_num},
			#{pd_num},
			#{mem_cstm_num},
			#{cart_quantity},
			#{cart_amount}
		)
	</insert>
	
	<select id="getOrderId" resultType="int">
		SELECT ord_num_seq.nextval FROM DUAL
	</select>
	
</mapper>