<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.jhc.web.user.mapper.cstm.CstmMapper">

	<select id="getCstmByNum" resultType="com.ezen.jhc.web.user.dto.MemberCstmDTO">
		SELECT * FROM member_cstms WHERE mem_cstm_num = #{mem_cstm_num}
	</select>
	
	<insert id="insertCstm" parameterType="com.ezen.jhc.web.user.dto.MemberCstmDTO">
		<selectKey keyProperty="mem_cstm_num" order="BEFORE" resultType="int">
			SELECT mem_cstm_num_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO member_cstms VALUES {
			#{mem_cstm_num},
			#{mem_num},
			#{mem_cstm_path}
		}
	</insert>

</mapper>