.main_container_category{
	display: flex;
	margin: auto;
/* 	border: 1px solid black; */
	width: 67%;
}

#category_main_side_bar {
	padding: 40px;
	margin-left: 30px;
	/* border: 1px solid black; */
	width: 20%;
}

#category_main_products {
	margin-top: 80px;
	display: flex;
	flex-flow: wrap;
/* 	border: 1px solid black; */
	width: 80%;
}
.category_list_detailed a{
	all:unset;
	color:black;
	cursor:pointer;
} 
.category_category_major {
	font-weight: 500;
	font-size: 130%;
	margin-bottom: 20px;
}

#category_main_products {
	display: flex;
	justify-content: flex-start;
}

.products {
	display: flex;
	align-items: left;
	flex-direction: column;
	/* border: 1px solid black; */
	border-radius: 5px;
	height: 400px;
	margin: 5px;
	
}

.products img {
	margin-bottom:10px;
	border-radius: 6px;
	width: 230px;
	height: 300px;
	object-fit: cover;
}

.product_name {
	width:225px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space : nowrap;
	font-size: 100%;
	font-weight: 100;
	
}

.product_price{
	font-size: 90%;
}

.search {
	width: 100%;
	margin-bottom: auto;
	margin-top: 20px;
	height: 50px;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.search-input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	margin-top: 5px;
	caret-color: transparent;
	line-height: 20px;
	transition: width 0.4s linear
}

.search .search-input {
	padding: 0 10px;
	width: 100%;
	caret-color: #536bf6;
	font-size: 19px;
	font-weight: 300;
	color: black;
	transition: width 0.4s linear;
}

.search-icon {
	height: 34px;
	width: 34px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #536bf6;
	font-size: 10px;
	bottom: 30px;
	position: relative;
	border-radius: 5px;
}

.search-icon:hover {
	color: #fff !important;
}

a:link {
	text-decoration: none
}
