body {
   overflow-x :  hidden;
}


/* carousel */
.carousel-inner div {
	object-fit: cover;
	height: 480px;
}

/* category */
#category_container {
	width: fit-content;
	margin: auto;
}

#home-category-item__btns {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
}

.home-category-item__bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 110px;
	height: 110px;
	margin: 0px 10px;
	border-radius: 15px;
}

.home-category-item__txt {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.home-category-item__name {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	margin: 0px 10px;
}

/* review */
.card {
	height: 370px;
	margin: 0px 10px;
}

.review_date, .review_user {
	font-size: 80%;
	color: #063970;
}

#main_reviews {
	margin-top: 30px;
}

#main_reviews img {
	height: 250px;
	object-fit: cover;
}


/*내가 만드는 나만의 상품*/
.main_container_madeByMe{
	display:flex;
	flex-flow: wrap;
	margin:20px auto;
	justify-content: center;
	width: 1300px;
	
}

.main_container_madeByMe img{
	width: 600px;
	margin:10px;
}

.main_subject_text{
	text-align:center;
	font-size: 180%;
	margin:auto;
	margin-top: 100px;
	margin-bottom: 30px;
	
}
