<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.jhc.web.admin.mapper.sales.SalesMapper">

	<select id="getDailySales" resultType="com.ezen.jhc.web.admin.dto.sales.DailySalesDTO">
		SELECT
			sc.s_ctgr_num,
        	s_ctgr_name,
        	m_ctgr_num,
        	count(sc.s_ctgr_name) as daily_sales,
        	sum(total_amount) as daily_amount
        	
    	FROM 
    		order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    	WHERE to_char(ord_date,'yyyy-mm-dd') = to_char(sysdate,'yyyy-mm-dd')
    	GROUP BY sc.s_ctgr_num, s_ctgr_name, m_ctgr_num
    	ORDER BY m_ctgr_num
    	
	</select>
	
	<select id="getWeeklySalesMainCtgr" resultType="com.ezen.jhc.web.admin.dto.sales.WeeklySalesDTO">
	SELECT
    (SELECT
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-7, 'yyyy-mm-dd'))
    mon,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-6, 'yyyy-mm-dd'))
    tues,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-5, 'yyyy-mm-dd'))
    wednes,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-4, 'yyyy-mm-dd'))
    thurs,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-3, 'yyyy-mm-dd'))
    fri,(SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-2, 'yyyy-mm-dd'))
    satur,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-1, 'yyyy-mm-dd'))
    sun,
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.m_ctgr_num = #{m_ctgr_num}
    AND
        TO_DATE(ord_date) <![CDATA[<]]>= TO_DATE(TO_CHAR(TRUNC(sysdate,'iw')-1, 'yyyy-mm-dd')) 
    AND 
        TO_DATE(ord_date)  <![CDATA[>]]>= TO_DATE(TO_CHAR(TRUNC(sysdate,'iw')-7, 'yyyy-mm-dd')))
     total,
    #{m_ctgr_num} m_ctgr_num,
    (SELECT m_ctgr_name FROM main_ctgr WHERE m_ctgr_num = #{m_ctgr_num}) ctgr_name
	FROM DUAL
	</select>
	
	
	<select id="getWeeklySalesSubCtgr" resultType="com.ezen.jhc.web.admin.dto.sales.WeeklySalesDTO">
	SELECT
    (SELECT
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-7, 'yyyy-mm-dd'))
    AS "mon",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-6, 'yyyy-mm-dd'))
    AS "tues",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-5, 'yyyy-mm-dd'))
    AS "wednes",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-4, 'yyyy-mm-dd'))
    AS "thurs",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-3, 'yyyy-mm-dd'))
    AS "fri",(SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-2, 'yyyy-mm-dd'))
    AS "satur",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_CHAR(ord_date, 'yyyy-mm-dd') = TO_CHAR(TRUNC(sysdate,'iw')-1, 'yyyy-mm-dd'))
    AS "sun",
    (SELECT 
        COUNT(*)
     FROM 
        order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
    WHERE 
        sc.s_ctgr_num = #{s_ctgr_num}
    AND
        TO_DATE(ord_date) <![CDATA[<]]>= TO_DATE(TO_CHAR(TRUNC(sysdate,'iw')-1, 'yyyy-mm-dd')) 
    AND 
        TO_DATE(ord_date) <![CDATA[>]]>= TO_DATE(TO_CHAR(TRUNC(sysdate,'iw')-7, 'yyyy-mm-dd')))
    AS "total",
    #{m_ctgr_num} as "m_ctgr_num",
    (SELECT s_ctgr_name FROM sub_ctgr WHERE s_ctgr_num = #{s_ctgr_num}) ctgr_name
    
	FROM DUAL
	</select>
	
	<select id="getPeriodSales" resultType="com.ezen.jhc.web.admin.dto.sales.PeriodSalesDTO">
		SELECT 
    TRUNC(ord.ord_date) ord_date, 
    COUNT(*) count, 
    SUM(total_amount) total_amount 
FROM 
    orders ord 
WHERE 
    ord.ord_date BETWEEN #{startDate} AND #{endDate}
GROUP BY 
    TRUNC(ord.ord_date)
ORDER BY 
    TRUNC(ord.ord_date)
	</select>
	
	<select id="getMainCtgrNewOrders" resultType="com.ezen.jhc.web.admin.dto.home.MainCtgrOrderDTO"> 
		SELECT
        	mc.m_ctgr_num,
            m_ctgr_name,
        	count(sc.s_ctgr_num) as sales
    	FROM 
    		order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
        INNER JOIN
            main_ctgr mc ON mc.m_ctgr_num = sc.m_ctgr_num
    	WHERE ord_status = 0 OR ord_status = 1
    	GROUP BY m_ctgr_name, mc.m_ctgr_num
    	ORDER BY m_ctgr_num
	</select>
	
	<select id="getMonthlyMainCtgrOrders" resultType="com.ezen.jhc.web.admin.dto.home.MainCtgrOrderDTO">
		SELECT
        	mc.m_ctgr_num,
            m_ctgr_name,
        	count(sc.s_ctgr_num) as sales
    	FROM 
    		order_details od 
    	INNER JOIN 
    		orders ord ON ord.ord_num = od.ord_num 
    	INNER JOIN 
    		prod_details pd ON pd.pd_num = od.pd_num
    	INNER JOIN 
    		prods p ON p.p_num = pd.p_num
    	INNER JOIN 
    		sub_ctgr sc ON sc.s_ctgr_num = p.s_ctgr_num
        INNER JOIN
            main_ctgr mc ON mc.m_ctgr_num = sc.m_ctgr_num
    	WHERE to_char(ord_date,'yyyy-mm') = to_char(sysdate,'yyyy-mm')
    	GROUP BY m_ctgr_name, mc.m_ctgr_num
    	ORDER BY m_ctgr_num
	</select>
	
	<select id="getMonthlySales" resultType="com.ezen.jhc.web.admin.dto.sales.MonthlySalesDTO">
		SELECT 
			to_char(ord_date, 'mm') month,
			count(*) sales,
			sum(total_amount) total_amount 
		FROM 
			orders
		WHERE 
			ord_date >= (SELECT TRUNC(sysdate,'YEAR') FROM DUAL)
		GROUP BY 
			to_char(ord_date,'mm')
		ORDER BY 
			month
	</select>

</mapper>

