/* 마이페이지 1:1 문의창*/
#mp_contact_main {
	background-color: rgb(248, 249, 250);
	padding: 30px;
}
/*0.1fr- 나의 문의 1fr- list_box*/
#mp_contact_box {
	text-align: center;
	margin: auto;
	display: grid;
	grid-template-rows: 0.1fr 1fr;
	margin-bottom: 100px;
	margin-top: 50px;
	width: 1000px;
}

#mp_contact_title {
	padding-bottom: 30px;
}

#mp_contact_list_box {
	display: grid;
	border-top: 2px solid rgb(241, 240, 240);

	padding-bottom: 20px;
	margin-top: 30px;
	background-color: white;
}
/**/
#con_list_table {
	border: 1px solid rgb(241, 240, 240);
}

#con_list_title {
	background-color: rgb(241, 240, 240);
	height: 50px;
}

.con_list {
	height: 100px;
	border-top: 1px solid rgb(241, 240, 240);
}

.con_list_content {
	width: 400px;
	margin: auto;

}

.con_list_content>a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	color: black;
}

.answer_status {
	color: black;
	width: 70px;
	height: 30px;
	border-radius: 10px;
	margin: auto;
	background-color: #cccde8;
	text-aglin: center;
	padding-top: 3px;
	border: 1px black solid;
}

.answer_status2 {
	color: black;
	width: 70px;
	height: 30px;
	border-radius: 10px;
	margin: auto;
	background-color: #e8cccc;
	text-aglin: center;
	padding-top: 3px;
	border: 1px black solid;
}