@import
	url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap')
	;

.main_body {
	position: relative;
	background-color: #f5f5f5;
}

.main_body {
  position: relative;
  background-color: rgb(248, 249, 250);
}

.cart_body {
<<<<<<< HEAD
	max-width: 992px;
	margin: auto;
	padding: 80px 0 120px;
	font-weight: normal;
=======
max-width: 992px;
margin: auto;
padding: 80px 0 120px;
font-weight: normal;
>>>>>>> refs/heads/juhee
}

<<<<<<< HEAD
.basket_top {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
	position: relative;
}
=======
>>>>>>> refs/heads/juhee

<<<<<<< HEAD
.basket_top>span {
	font-family: 'Gowun Dodum', sans-serif;
	font-size: 35px;
	font-style: normal;
=======
.basket_top {
font-size: 24px;
font-weight: bold;
margin-bottom: 40px;
position: relative;
>>>>>>> refs/heads/juhee
}

<<<<<<< HEAD
.basket_process {
	font-size: 14px;
	color: #868e96;
	font-weight: normal;
	position: absolute;
	right: 0;
	bottom: 0;
}
=======
.basket_top > span {
font-family: 'Gowun Dodum', sans-serif;
font-size: 35px;
font-style: normal;
}

.basket_process {
font-size: 14px;
color: #494d4f;
font-weight: bold;
position: absolute;
right: 0;
bottom: 0;
}

>>>>>>> refs/heads/juhee

.other {
	color: rgb(169, 174, 180);
}

.basket {
	justify-content: center;
	margin: 0 auto;
	margin-top: 70px;
	width: 992px;
	height: 290px;
	background-color: #fff;
	border-top: #28292A solid 1px;
}

.basket_middle {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	width: 988px;
	height: 49.6px;
	padding: 15px 0px;
	font-weight: bold;
	border-bottom: 1px solid lightgrey;
	background-color: #fff;
}

.basket_middle>span {
	justify-content: center;
	display: flex;
}

.basket_bottom {
	width: 992px;
	height: 233.6px;
	margin: 0px 0px 8px;
	padding: 24px 24px 0px;
}

<<<<<<< HEAD
.basket_body {
	display: grid;
	grid-template-columns: 0.5fr 3fr;
	margin: 0px 0px 16px;
}
=======
  .basket_bottom {
    width: 992px;
    height: 233.6px;
    margin: 0px 0px 8px;
    padding: 24px 24px 0px;
    background-color: #fff;
  }
>>>>>>> refs/heads/juhee

.print {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
}

#printing {
	color: rgb(169, 174, 180);
}

.basket_body>#img {
	width: 100px;
	height: 100px;
	margin-right: 40px;
}

.name {
	display: grid;
	grid-template-rows: 0.5fr 1fr;
	width: 230px;
	color: #28292A;
	margin-top: 23px;
	margin-left: -20px;
	padding: 0px;
}

.product_info {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.list {
	width: 944px;
	height: 160.8px;
	padding: 0px 0px 16px;
	color: rgb(138, 146, 153);
	border-bottom: 1px solid lightgrey;
	background-color: #fff;
}

.list_top {
	margin-bottom: 20px;
}

.list_top>span {
	font-size: small;
}

.total_amount {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 145px;
	height: 25.6px;
	margin-left: -20px;
	margin-top: 40px;
}

.blank {
	width: 100px;
}

.size {
	width: 7.44px;
	height: 16.8px;
	color: black;
}

<<<<<<< HEAD
.quantity {
	width: 45.6px;
	height: 25.6px;
	background-color: white;
	border: #ececec solid 1px;
}
=======
  .blank {
    width: 80px;
  }
>>>>>>> refs/heads/juhee

<<<<<<< HEAD
.val {
	justify-content: center;
	display: flex;
	color: black;
}
=======
  .size{
    width: 7.44px;
    height: 16.8px;
    margin-left: 20px;
    color: black;
  }
>>>>>>> refs/heads/juhee

<<<<<<< HEAD
.price {
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
	margin-left: -10px;
}
=======
  .quantity {
    width: 45.6px;
    height: 25.6px;
    margin-top: 2px;
    background-color: white;
    border: #ececec solid 1px;
  }
>>>>>>> refs/heads/juhee

<<<<<<< HEAD
.btn_box {
	padding-top: 17px;
}
=======
  .val{
    justify-content: center;
    display: flex;
    font-size: medium;
    color: black;
  }
>>>>>>> refs/heads/juhee

.btn_box>button {
	justify-content: center;
	display: flex;
	width: 88px;
	height: 24px;
	margin: 4px;
	margin-left: 50px;
	padding: 2px;
	font-size: small;
	background-color: white;
	border: lightgrey solid 1px;
}

.add_btn {
	justify-content: center;
	display: flex;
	height: 44.8px;
	padding: 16px 0px;
}

.add_color {
	width: 59.84px;
	height: 16px;
	font-size: small;
	color: rgb(1, 87, 255);
}

.summary {
	justify-content: center;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
	margin-top: 65px;
	width: 992px;
	height: 140px;
	background-color: #fff;
	border-top: #28292A solid 1px;
	z-index: -1;
}

.total_quantity, .sm {
	justify-content: center;
	display: flex;
	height: 68px;
}

.summary>div {
	justify-content: center;
	display: flex;
	display: grid;
	grid-template-rows: 0.5fr 1fr;
	padding: 16px 0px 0px;
	z-index: 0;
}

.total_price {
	height: 24px;
	margin-top: -7px;
}

.summary>div>span {
	font-weight: bolder;
}

.total_price {
	font-size: x-large;
}

.border_bar {
	position: absolute;
	width: 992px;
	border-top: #D5DbD0 solid 1px;
	margin-top: 50px;
	z-index: 1;
}

.math_symbol {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
	width: 992px;
	height: 24px;
	position: absolute;
	margin-top: 65px;
}

.math_symbol>div {
	justify-content: center;
	display: flex;
	font-size: larger;
	color: lightgrey;
}

.equal {
	margin-left: -150px;
}

.checkout_btn {
	margin: 0 auto;
	justify-content: center;
	display: flex;
	width: 343px;
	height: 48px;
	margin-top: 65px;
	background-color: #122529;
}

.checkout_btn>span {
	margin: 0 auto;
	justify-content: center;
	display: flex;
	line-height: 45px;
	color: #fff;
	height: 20px;
}

#total-amt {
	width: 25px;
	height: auto;
	text-align: center;
	background-color: white;
	border: white solid 1px;
}