

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.main{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.info_modify > * {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 35px;
    font-style: normal;
    box-sizing: content-box;
    
}


 .info_modify {
    justify-self: center;
    display: flex;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    width: 992px;
    height: 762.8px;
    margin-bottom: 150px;
  }


  h1{
    width: 992px;
    height: 43.2px;
    margin: 86px 0px 40px;
    font-weight: 900;
  }

  .controls{
    justify-self: center;
    display: flex;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    margin: 0 auto;
    width: 992px;
    height: 533.6px;
    padding: 20px;
    font-size: medium;
    background-color: white;
    border-top: black solid 1px;
  }

  .input {
    padding-left: 80px;
    width: 952px;
    height: 30px;
  }

  .email_ctr, .pw_ctr, .point_ctr, .nn_ctr, .birth_ctr, .name_ctr, .pn_ctr, .Gender_ctr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 952px;
    height: 30px;
    
  }

  .btn_change_email{
    margin: 0px 0px 0px 55px;
    margin-left: 30px;
  }

  label{
    width: 83.4px;
    height: 18.4px;
  }

  .btn_change_email, .btn_change_pw{
    text-align: center;
    line-height: 10px;
    padding: 5px 10px;
    color: white;
    height: 30px;
    background-color: black;
  }

 .buttons{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px;
 }

 .modify {
    justify-self: left;
    left:0;
    width: 69.6px;
    height: 40px;
    color: white;
    font-size: medium;
    background-color: black;
 }

 .withdrawal{
    justify-self: right;
    right:0;
    width: 101.08px;
    height: 40px;
    color: black;
    font-size: medium;
    border: black solid 1px;
    background-color: white;
 }