* {
	box-sizing: border-box;
}

body {
	background-color: rgb(245, 245, 245);
	overflow-x : hidden;
}

#outer {
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
	user-select: none;
	display: grid;
	grid-template-columns: 3fr 2fr;
	padding: 50px 100px;
}

#rightOuter {
	width: 25%;
	height: fit-content;
	position: fixed;
	left: 56.8%;
}

#mainTitle {
	width: fit-content;
	margin: 70px auto;
	font-size: xx-large;
	font-weight: bold;
}


.subTitle {
	font-size: large;
	font-weight: bold;
	margin-bottom: 5%;
}

.box {
	background-color: white;
	height: fit-content;
	padding: 30px;
	border-radius: 5px;
	margin: 5px;
}

.box > * {
	margin: auto;
}

.rowGrid {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 10px;
	padding: 10px;
	margin-top: 3%;
}

.columnGrid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 10px;
	row-gap: 10px;
	margin: 5px 0;
}

.flex-between {
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 10px;
}

#destination > div:last-child {
	grid-column-start: 2;
	text-align: right;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	row-gap: 10px;
}

#point > div:last-child {
	grid-column-start: 2;
	color: rgb(175, 174, 174);
}

input, .buttons {
	border: 1px rgb(175, 174, 174) solid;
	border-radius: 5px;
	height: 30px;
}

.buttons {
	color: white;
	background-color: #063970;
	margin-left: 20px;
}

.buttons:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

#payment {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
}

.payButtons {
	border: 1px rgb(175, 174, 174) solid;
	height: 40px;
	background-color: transparent;
}

.payButtons:hover {
	border: 1px #063970 solid;
	color: #063970;
}


.rightAlign {
	text-align: right;
}


#sameWithOrderer, #saveDestination{
	position: relative;
	right: 5px;
	margin-left: 20px;
}
