<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.jhc.web.user.mapper.cs.ContactMapper">

	<select id="insert_contact"  parameterType="map" resultType="com.ezen.jhc.web.user.dto.contact.ContactDTO">
		INSERT INTO contact VALUES 
		(contact_num_seq.nextval, ${mem_num}, 
		${contact_ctgr}, '${contact_title}',
		'${contact_content}', null,
		sysdate , null)
	</select> 
	
	<select id="getContactList" resultType="com.ezen.jhc.web.user.dto.contact.ContactDTO">
		SELECT 
		mem_num, contact_num, cs_ctgr_name, contact_regdate, contact_title, admin_reply 
		FROM contact c, cs_ctgr ct 
		WHERE c.cs_ctgr_num = ct.cs_ctgr_num 
		ORDER BY contact_num DESC
	</select>
	
	<select id="getContactById" resultType="com.ezen.jhc.web.user.dto.contact.ContactDTO">
		SELECT * FROM contact WHERE contact_num = ${contact_num}
	</select>
	
	<select id="insert_contact_img" resultType="com.ezen.jhc.web.user.dto.contact.ContactDTO">
		INSERT INTO contact_images  VALUE (${conatct_num}, ${contact_img}, ${contact_s_img})
	</select>
</mapper> 